Repository massgov/mayflower, pull requests merged in 2018-11, with the labels that each got.

#348 React/DP-11077: Add breadcrumb component.
  assets/scss/02-molecules/_breadcrumb.scss
  changelogs/DP-11077.txt
  react/backstop/data/bitmaps_reference/vrt_molecules_Breadcrumb_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_Breadcrumb_0_document_1_tablet.png
  react/src/components/molecules/Breadcrumb/Breadcrumb.stories.js
  react/src/components/molecules/Breadcrumb/index.js
  react/src/components/molecules/Breadcrumb/item.js
  react/src/components/molecules/Breadcrumb/style.scss
  react/src/index.js
Labels: React, external review

#355 DP-11205: Fix footnote bug
  changelogs/DP-11205.txt
  react/src/components/atoms/links/FootNote/index.js
Labels: React, external review

#354 DP-11158: Downloads page.
  changelogs/DP-11158.txt
  react/src/components/molecules/ListingTable/index.js
  react/src/index.js
Labels: React, Ready For Internal Review

#349 DP-11078: Mayflower React: Fuzzy Search Component.
  assets/scss/01-atoms/_input-fuzzy.scss
  changelogs/DP-11078.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputTextFuzzy_0_document_0_small_atom.png
  react/package-lock.json
  react/package.json
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.knobs.options.js
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.md
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.stories.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
  react/src/components/atoms/forms/InputTextFuzzy/style.scss
  react/src/index.js
Labels: React, external review

#366 React/DP-11402: InputTextFuzzy bug.
  changelogs/DP-11402.txt
  react/src/components/atoms/forms/InputTextFuzzy/index.js
Labels: React, Ready For Internal Review, external review
