Repository massgov/mayflower, pull requests merged in 2018-07, with the labels that each got.

#30 Docs: Adds search cse notes
  docs/guidelines/search-and-structured-data.md
Labels: doc, internal review

#28 DP-9485 Update Mayflower release process with monorepo
  patternlab/docs/release.md
Labels: external review

#20 Docs contributing guide
  CONTRIBUTING.md
  docs/.docs/CONTRIBUTING.md
Labels: doc, review

#27 Docs integration
  changelogs/DP-9145.txt
  changelogs/DP-9475.txt
  docs/.gitbook/assets/ago-organization-display (1).png
  docs/.gitbook/assets/dfw-organization-display (1).png
  docs/.gitbook/assets/dph-organization-display (1).png
  docs/.gitbook/assets/rmv-organization-display (2).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-12.23.49-pm (1).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-12.23.49-pm (2).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-12.23.57-pm (1).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-12.23.57-pm (2).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-4.36.48-pm (1).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-4.36.48-pm (2).png
  docs/.gitbook/assets/screen-shot-2018-05-29-at-4.36.48-pm (3).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.10.32-am (1).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.38.50-am (1).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.39.21-am (1).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.39.21-am (2).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.39.21-am (3).png
  docs/.gitbook/assets/screen-shot-2018-05-30-at-10.39.21-am (4).png
  docs/for-developers/README.md
  docs/for-developers/atomic-design.md
  docs/for-developers/changelog-instructions.md
  docs/for-developers/versioning.md
  docs/guidelines/search-and-structured-data.md
  patternlab/README.md
Labels: doc

#96 React/dp 9797 orgfilter mobile
  react/src/components/organisms/FilterBox/FilterBox.stories.js
  react/src/components/organisms/FilterBox/index.js
  react/src/components/organisms/SearchBanner/SearchBanner.stories.js
  react/src/components/organisms/SearchBanner/index.js
  react/src/components/organisms/SearchBanner/style.scss
Labels: external review
