Repository massgov/mayflower, pull requests merged in 2019-06, with the labels that each got.

#604 Sync Develop with Master (Release 9.9.0)
  CHANGELOG.md
  changelogs/DP-13970.md
  changelogs/DP-14085.md
  changelogs/update-package-system-files.md
Labels: external review

#605 react/hotfix--path-airbnb-dependency
  changelogs/react-patch-dependency.md
  react/package-lock.json
  react/package.json
Labels: external review, internal review

#606 Release 9.9.1
  CHANGELOG.md
  react/package-lock.json
  react/package.json
Labels: internal review

#559 React/DP-13924: Input fuzzy bug
  changelogs/DP-13924.md
  react/package-lock.json
  react/package.json
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.stories.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
Labels: React, external review

#610 React/DP-14273: b-jsonp throws windows undefined server side rendering
  changelogs/DP-14273.md
  react/src/components/organisms/FeedbackForm/index.js
Labels: React, Ready For Internal Review

#566 React/DP-13800: Deprecated lifecycle methods
  changelogs/DP-13800.md
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputTextFuzzy_0_document_0_small_atom.png
  react/package-lock.json
  react/package.json
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.stories.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
Labels: React, external review

#613 React/DP-14234: InputDate in FilterBox on Select
  assets/scss/00-base/_pikaday.scss
  changelogs/DP-14234.md
Labels: React, Ready For Internal Review

#608 React/tabs set active external event
  react/src/index.js
Labels: external review

#622 Feature/dp 14335 button alert porting
  assets/scss/02-molecules/_button-alert.scss
  changelogs/DP-14335.md
  react/backstop/data/bitmaps_reference/vrt_atoms_buttons_ButtonAlert_0_document_0_small_atom.png
  react/src/components/atoms/buttons/ButtonAlert/ButtonAlert.md
  react/src/components/atoms/buttons/ButtonAlert/ButtonAlert.stories.js
  react/src/components/atoms/buttons/ButtonAlert/index.js
  react/src/components/atoms/buttons/ButtonAlert/style.scss
  react/src/components/atoms/buttons/ButtonWithIcon/ButtonWithIcon.stories.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
  react/src/index.js
Labels: React, external review

#621 React/DP-14340: emergency alert molecule.
  assets/scss/00-base/_mixins.scss
  assets/scss/00-base/mixins/_ma-emergency-alert.scss
  assets/scss/02-molecules/_emergency-alert.scss
  changelogs/DP-14340.md
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyAlert_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyAlert_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_Side_Only_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_Side_Only_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_and_Right_Sides_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_and_Right_Sides_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Right_Side_Only_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Right_Side_Only_0_document_1_tablet.png
  react/src/components/atoms/buttons/Button/index.js
  react/src/components/molecules/EmergencyAlert/EmergencyAlert.stories.js
  react/src/components/molecules/EmergencyAlert/index.js
  react/src/components/molecules/EmergencyAlert/style.scss
  react/src/components/molecules/Link/Link.knob.options.js
  react/src/components/molecules/Link/index.js
  react/src/components/organisms/Teaser/storyutils.js
  react/src/index.js
Labels: React, external review

#626 React/DP-14339: EmergencyHeader Component.
  assets/scss/00-base/_mixins.scss
  assets/scss/00-base/mixins/_ma-emergency-header.scss
  assets/scss/02-molecules/_emergency-header.scss
  changelogs/DP-14339.md
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyHeader_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyHeader_0_document_1_tablet.png
  react/src/components/molecules/EmergencyHeader/EmergencyHeader.stories.js
  react/src/components/molecules/EmergencyHeader/index.js
  react/src/components/molecules/EmergencyHeader/style.scss
Labels: React, external review

#631 React/DP-14341: Ports the emergency alerts organism from PL into React
  assets/scss/00-base/mixins/_ma-emergency-alert.scss
  assets/scss/02-molecules/_emergency-alert.scss
  assets/scss/02-molecules/_emergency-header.scss
  assets/scss/03-organisms/_emergency-alerts.scss
  changelogs/DP-14341.md
  patternlab/backstopjs/reference/regression_page_guide_0_document_0_phone.png
  patternlab/backstopjs/reference/regression_page_guide_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_location-general-content_0_document_0_phone.png
  patternlab/backstopjs/reference/regression_page_location-general-content_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_location-park-content_0_document_0_phone.png
  patternlab/backstopjs/reference/regression_page_location-park-content_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyAlert_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_EmergencyAlert_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_EmergencyAlerts_EmergencyAlerts_with_Alerts_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_EmergencyAlerts_EmergencyAlerts_with_Alerts_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_EmergencyAlerts_EmergencyAlerts_without_Alerts_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_EmergencyAlerts_EmergencyAlerts_without_Alerts_0_document_1_tablet.png
  react/src/components/atoms/buttons/ButtonAlert/index.js
  react/src/components/atoms/forms/InputCurrency/index.js
  react/src/components/molecules/EmergencyAlert/EmergencyAlert.stories.js
  react/src/components/molecules/EmergencyAlert/index.js
  react/src/components/molecules/EmergencyHeader/EmergencyHeader.stories.js
  react/src/components/molecules/EmergencyHeader/index.js
  react/src/components/organisms/EmergencyAlerts/EmergencyAlerts.stories.js
  react/src/components/organisms/EmergencyAlerts/index.js
  react/src/components/organisms/EmergencyAlerts/style.scss
  react/src/index.js
Labels: external review, internal review

#645 React/remove default unused link class
  changelogs/link-remove-default-class.md
  react/src/components/atoms/links/DecorativeLink/index.js
  react/src/components/molecules/Link/index.js
Labels: external review, internal review

#637 React/DP-14424: TabContainer, Tab Refactor
  changelogs/DP-14424.md
  react/package-lock.json
  react/package.json
  react/src/components/organisms/TabContainer/index.js
  react/src/components/organisms/TabContainer/tab-body.js
  react/src/components/organisms/TabContainer/tab.js
  react/src/index.js
Labels: React, external review
