Repository massgov/mayflower, pull requests merged in 2019-07, with the labels that each got.

#640 React/DP-14436: Update storybook to version 5.1.8.
  changelogs/DP-14436.md
  react/backstop/backstop.js
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/package-lock.json
  react/package.json
  react/src/components/molecules/HeaderSearch/HeaderSearch.stories.js
  react/src/components/molecules/ImagePromo/ImagePromo.stories.js
  react/src/components/organisms/Footer/Footer.stories.js
Labels: React, external review

#658 Docs/DP-14732: Adds MassCulturalCouncil to Documentation of Sites we Search
  changelogs/DP-14732.md
  docs/guidelines/search-and-structured-data.md
Labels: doc, external review, internal review

#659 Mayflower Release 9.15.0
  CHANGELOG.md
  assets/scss/03-organisms/_action-finder.scss
  assets/scss/03-organisms/_callout-alert.scss
  assets/scss/03-organisms/_contact-list.scss
  assets/scss/03-organisms/_event-listing.scss
  assets/scss/03-organisms/_key-actions.scss
  assets/scss/03-organisms/_mapped-locations.scss
  assets/scss/03-organisms/_stacked-row-section.scss
  assets/scss/03-organisms/_utility-nav.scss
  assets/scss/03-organisms/_utility-panel.scss
  assets/scss/04-templates/_general.scss
  assets/scss/04-templates/_services.scss
  assets/scss/04-templates/_stacked-row-section-external-sidebar.scss
  assets/scss/04-templates/_stacked-row.scss
  assets/scss/08-print/_print.scss
  docs/guidelines/search-and-structured-data.md
  patternlab/README.md
  patternlab/backstopjs/reference/regression_page_information-details-responsive-table_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_location-listing-static-map_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_organization-default-contact_0_document_0_phone.png
  patternlab/backstopjs/reference/regression_page_organization-default-contact_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_page-alert_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_page_service-lite_0_document_0_phone.png
  patternlab/backstopjs/reference/regression_page_service-lite_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_template_single-column_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_template_two-column-reversed_0_document_1_tablet.png
  patternlab/backstopjs/reference/regression_template_two-column_0_document_1_tablet.png
  patternlab/docs/a11y-checklist/_template.md
  patternlab/docs/a11y-checklist/a11y-checklist.md
  patternlab/docs/a11y-checklist/buttons.md
  patternlab/docs/a11y-checklist/headings.md
  patternlab/docs/a11y-checklist/images.md
  patternlab/docs/a11y-checklist/links.md
  patternlab/docs/a11y-checklist/sections.md
  patternlab/styleguide/source/_data/utilityNav.json
  patternlab/styleguide/source/_patterns/03-organisms/by-author/stacked-row-section.twig
  patternlab/styleguide/source/_patterns/03-organisms/by-template/utility-nav.twig
  patternlab/styleguide/source/_patterns/03-organisms/by-template/utility-panel.twig
  patternlab/styleguide/source/_patterns/04-templates/01-content-types/services.twig
  patternlab/styleguide/source/_patterns/04-templates/stacked-row-template.json
  patternlab/styleguide/source/_patterns/04-templates/stacked-row-template.twig
  patternlab/styleguide/source/_patterns/04-templates/stacked-rows-with-external-sidebar-template.json
  patternlab/styleguide/source/_patterns/04-templates/stacked-rows-with-external-sidebar-template.twig
  patternlab/styleguide/source/_patterns/05-pages/organization~lite-menu-variation.json
  patternlab/styleguide/source/assets/js/modules/mainNav.js
  patternlab/styleguide/source/assets/js/modules/utilNav.js
  patternlab/styleguide/source/assets/scss/index.scss
  react/backstop/backstop.js
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Header_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_UtilityNav_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_UtilityPanel_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_UtilityPanel_0_document_1_tablet.png
  react/package-lock.json
  react/package.json
  react/src/components/molecules/HeaderSearch/HeaderSearch.stories.js
  react/src/components/molecules/ImagePromo/ImagePromo.stories.js
  react/src/components/organisms/Footer/Footer.stories.js
  react/src/components/organisms/UtilityNav/index.js
  react/src/index.scss
Labels: external review, internal review

#657 react/DP-14730: Address all lint errors/warnings on atoms
  changelogs/DP-14730.md
  react/src/components/atoms/forms/CompoundSlider/index.js
  react/src/components/atoms/forms/Form/index.js
  react/src/components/atoms/forms/Input/error.js
  react/src/components/atoms/forms/Input/index.js
  react/src/components/atoms/forms/InputCheckBox/index.js
  react/src/components/atoms/forms/InputCurrency/InputCurrency.stories.js
  react/src/components/atoms/forms/InputCurrency/index.js
  react/src/components/atoms/forms/InputNumber/InputNumber.stories.js
  react/src/components/atoms/forms/InputNumber/index.js
  react/src/components/atoms/forms/InputSlider/index.js
  react/src/components/atoms/forms/InputText/index.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
  react/src/components/atoms/forms/InputTextTypeAhead/index.js
  react/src/components/atoms/links/FootNote/index.js
  react/src/components/atoms/lists/OrderedList/index.js
  react/src/components/atoms/lists/UnorderedList/index.js
  react/src/components/atoms/text/Paragraph/index.js
  react/src/components/dataviz/DataTable/DataTable.stories.js
  react/src/components/organisms/EmergencyAlerts/index.js
  react/src/components/organisms/UtilityNav/index.js
Labels: React, internal review

#655 React/DP-14717: Fix lint errors/warnings on organisms
  changelogs/DP-14717.md
  react/backstop/storyBookBackstop.js
  react/src/components/organisms/AccordionWrapper/AccordionWrapper.stories.js
  react/src/components/organisms/CalloutAlert/CalloutAlert.stories.js
  react/src/components/organisms/EmergencyAlerts/EmergencyAlerts.stories.js
  react/src/components/organisms/EmergencyAlerts/index.js
  react/src/components/organisms/ErrorPage/ErrorPage.stories.js
  react/src/components/organisms/FeedbackForm/FeedbackForm.stories.js
  react/src/components/organisms/FilterBox/FilterBox.stories.js
  react/src/components/organisms/FilterBox/index.js
  react/src/components/organisms/Footer/Footer.stories.js
  react/src/components/organisms/FooterSlim/FooterSlim.stories.js
  react/src/components/organisms/FooterSlim/index.js
  react/src/components/organisms/GeneralTeaser/GeneralTeaser.stories.js
  react/src/components/organisms/Header/Header.stories.js
  react/src/components/organisms/HeaderSlim/HeaderSlim.stories.js
  react/src/components/organisms/HelpTip/HelpTip.stories.js
  react/src/components/organisms/HelpTip/index.js
  react/src/components/organisms/IllustratedHeader/IllustratedHeader.stories.js
  react/src/components/organisms/LinkList/LinkList.stories.js
  react/src/components/organisms/PageFlipper/PageFlipper.stories.js
  react/src/components/organisms/PageFlipper/index.js
  react/src/components/organisms/PageHeader/PageHeader.stories.js
  react/src/components/organisms/PageHeader/index.js
  react/src/components/organisms/PressFilters/PressFilters.stories.js
  react/src/components/organisms/RichText/RichText.require.js
  react/src/components/organisms/RichText/RichText.stories.js
  react/src/components/organisms/RichText/index.js
  react/src/components/organisms/SearchBanner/SearchBanner.stories.js
  react/src/components/organisms/TabContainer/TabContainer.stories.js
  react/src/components/organisms/TabContainer/index.js
  react/src/components/organisms/TabContainer/tab-body.js
  react/src/components/organisms/TabContainer/tab.js
  react/src/components/organisms/TableofContents/TableofContents.stories.js
  react/src/components/organisms/Teaser/Teaser.stories.js
  react/src/components/organisms/Teaser/index.js
  react/src/components/organisms/Teaser/storyutils.js
  react/src/components/organisms/TeaserListing/TeaserListing.knob.options.js
  react/src/components/organisms/TeaserListing/TeaserListing.stories.js
  react/src/components/organisms/TeaserListing/index.js
  react/src/components/organisms/UtilityNav/UtilityNav.stories.js
  react/src/components/organisms/UtilityNav/index.js
  react/src/components/organisms/UtilityPanel/UtilityPanel.stories.js
  react/src/components/utilities/componentPropTypeCheck.js
Labels: React, internal review

#627 React/DP-14439, DP-12214: Header fixes.
  .DS_Store
  assets/scss/03-organisms/_header.scss
  changelogs/DP-14439.md
  react/backstop/data/bitmaps_reference/vrt_organisms_Header_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Header_0_document_1_tablet.png
  react/package-lock.json
  react/src/components/atoms/buttons/ButtonWithIcon/index.js
  react/src/components/molecules/HeaderSearch/index.js
  react/src/components/molecules/MainNav/index.js
  react/src/components/organisms/Header/Header.stories.js
  react/src/components/organisms/Header/index.js
Labels: React, external review
