Repository massgov/mayflower, pull requests merged in 2019-05, with the labels that each got.

#544 React/DP-13718: Fuzzy search default suggestions.
  assets/scss/01-atoms/_input-fuzzy.scss
  changelogs/DP-13688.md
  react/.storybook/addons.js
  react/.storybook/config.js
  react/package-lock.json
  react/package.json
  react/src/components/atoms/forms/InputTextFuzzy/InputTextFuzzy.stories.js
  react/src/components/atoms/forms/InputTextFuzzy/index.js
  react/src/components/atoms/forms/InputTextTypeAhead/InputTextTypeAhead.md
  react/src/components/atoms/forms/InputTextTypeAhead/InputTextTypeAhead.stories.js
  react/src/components/atoms/forms/InputTextTypeAhead/index.js
Labels: external review, internal review

#600 remove yarn lock
  changelogs/update-package-system-files.md
  patternlab/styleguide/.nvmrc
  react/yarn.lock
Labels: React, external review, patternlab

#564 DP-13970: MassGov Search Jest Related Fixes
  changelogs/DP-13970.md
  react/.storybook/addons.js
  react/.storybook/config.js
  react/.storybook/webpack.config.js
  react/backstop/data/bitmaps_reference/vrt_organisms_TableofContents_TableofContents_with_ColoredHeading_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_TableofContents_TableofContents_with_ColoredHeading_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_TableofContents_TableofContents_with_SidebarHeading_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_TableofContents_TableofContents_with_SidebarHeading_0_document_1_tablet.png
  react/nwb.config.js
  react/package-lock.json
  react/package.json
  react/src/components/atoms/buttons/ButtonWithIcon/ButtonWithIcon.stories.js
  react/src/components/atoms/icons/Icon/index.js
  react/src/components/atoms/links/DecorativeLink/index.js
  react/src/components/molecules/HeaderSearch/index.js
  react/src/components/molecules/ListingTable/index.js
  react/src/components/molecules/Pagination/index.js
Labels: React, external review
