Repository massgov/mayflower, pull requests merged in 2019-02, with the labels that each got.

#461 DP-12519-fix-radio-button-label-wrapping
  assets/scss/01-atoms/_input-radio.scss
  assets/scss/02-molecules/_input-radio-group.scss
  changelogs/DP-12519.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputRadio_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_molecules_InputRadioGroup_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_InputRadioGroup_0_document_1_tablet.png
  react/src/components/molecules/InputRadioGroup/index.js
Labels: external review, internal review

#455 React/add option to display value
  changelogs/inputSlider-optional-value-display.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputSlider_0_document_0_small_atom.png
  react/src/components/atoms/forms/CompoundSlider/index.js
  react/src/components/atoms/forms/CompoundSlider/style.scss
  react/src/components/atoms/forms/InputSlider/InputSlider.knobs.options.js
  react/src/components/atoms/forms/InputSlider/index.js
Labels: external review, internal review

#459 React/DP-12414: Responsive Table.
  changelogs/DP-12414.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_table_Table_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_atoms_table_Table_0_document_1_tablet.png
  react/src/components/atoms/table/Table/Table.knobs.options.js
  react/src/components/atoms/table/Table/Table.stories.js
  react/src/components/atoms/table/Table/index.js
  react/src/components/atoms/table/Table/style.scss
Labels: React, external review

#460 Refactors Input, InputNumber, InputSlider, InputCurrency to use Form …
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/src/components/atoms/forms/CompoundSlider/index.js
  react/src/components/atoms/forms/Form/Form.md
  react/src/components/atoms/forms/Form/Form.stories.js
  react/src/components/atoms/forms/Form/index.js
  react/src/components/atoms/forms/Input/index.js
  react/src/components/atoms/forms/InputCurrency/InputCurrency.knobs.options.js
  react/src/components/atoms/forms/InputCurrency/index.js
  react/src/components/atoms/forms/InputNumber/index.js
  react/src/components/atoms/forms/InputSlider/InputSlider.knobs.options.js
  react/src/components/atoms/forms/InputSlider/InputSlider.stories.js
  react/src/components/atoms/forms/InputSlider/index.js
  react/src/index.js
Labels: React, Ready For Internal Review, external review

#467 React/DP-12665: Upgrade Mayflower-react react and node version.
  changelogs/DP-12665.txt
  react/.nvmrc
  react/.storybook/webpack.config.js
  react/backstop/data/bitmaps_reference/vrt_atoms_icons_Icon_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_atoms_icons_Icon_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_molecules_IconLink_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_molecules_Link_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_molecules_Link_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_FooterSlim_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_FooterSlim_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_Side_Only_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_Side_Only_0_document_1_tablet.png
  react/package-lock.json
  react/package.json
  react/src/components/atoms/icons/Icon/index.js
Labels: React, external review

#469 React/DP-12561: Add many triggers/help texts to HelpTip Organism.
  assets/scss/03-organisms/_help-tip.scss
  changelogs/DP-12561.txt
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_Children_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_Children_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_HelpText_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_HelpText_0_document_1_tablet.png
  react/package-lock.json
  react/src/components/atoms/text/Paragraph/Paragraph.stories.js
  react/src/components/atoms/text/Paragraph/index.js
  react/src/components/organisms/HelpTip/HelpTip.stories.js
  react/src/components/organisms/HelpTip/index.js
Labels: external review

#468 React/dp 12560 create input checkbox
  assets/scss/01-atoms/_input-checkbox.scss
  changelogs/DP-12560.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputCheckBox_0_document_0_small_atom.png
  react/src/components/atoms/forms/InputCheckBox/InputCheckBox.knobs.options.js
  react/src/components/atoms/forms/InputCheckBox/InputCheckBox.md
  react/src/components/atoms/forms/InputCheckBox/InputCheckBox.stories.js
  react/src/components/atoms/forms/InputCheckBox/index.js
  react/src/components/atoms/forms/InputCheckBox/style.scss
  react/src/components/atoms/icons/Icon/Icon.knob.options.js
  react/src/index.js
Labels: external review

#478 style helptip trigger
  assets/scss/03-organisms/_help-tip.scss
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_Children_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_Children_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_HelpText_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_HelpTip_HelpTip_with_HelpText_0_document_1_tablet.png
Labels: React, external review

#474 DP-12724 fix helptip mobile tray z-index
  assets/scss/03-organisms/_help-tip.scss
  changelogs/DP-12724.txt
Labels: React, internal review

#475 Dp 12733 fix error message styling
  assets/scss/01-atoms/_error-msg.scss
  changelogs/DP-12733.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_ErrorMessage_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_atoms_icons_Icon_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_atoms_icons_Icon_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_molecules_Link_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_FooterSlim_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_FooterSlim_0_document_1_tablet.png
  react/backstop/data/bitmaps_reference/vrt_organisms_Teaser_Teaser_Left_Side_Only_0_document_0_phone.png
  react/src/components/atoms/forms/ErrorMessage/ErrorMessage.knobs.options.js
  react/src/components/atoms/forms/ErrorMessage/index.js
  react/src/components/atoms/forms/InputText/InputText.knobs.options.js
  react/src/components/atoms/forms/InputText/index.js
  react/src/components/atoms/icons/Icon/index.js
Labels: React, external review, internal review

#477 Dp 12728 allow input currency to show placeholder
  changelogs/DP-12728.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputCurrency_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputNumber_0_document_0_small_atom.png
  react/src/components/atoms/forms/InputCurrency/InputCurrency.knobs.options.js
  react/src/components/atoms/forms/InputCurrency/index.js
  react/src/components/atoms/forms/InputNumber/InputNumber.knobs.options.js
Labels: React, external review

#482 [React] hotfix: Input Number Callback Value
  CHANGELOG.md
  react/src/components/atoms/forms/InputNumber/index.js
Labels: external review, internal review
