Repository massgov/mayflower, pull requests merged in 2019-03, with the labels that each got.

#495 React/dp 12732 allow slider update on drag
  changelogs/DP-4562.txt
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/src/components/atoms/forms/CompoundSlider/index.js
  react/src/components/atoms/forms/Form/Form.stories.js
  react/src/components/atoms/forms/InputSlider/InputSlider.knobs.options.js
  react/src/components/atoms/forms/InputSlider/index.js
Labels: internal review

#494 React/Disable handle button when InputSlider is disabled
  assets/scss/03-organisms/_help-tip.scss
  changelogs/DP-12875.txt
  react/src/components/atoms/forms/CompoundSlider/index.js
  react/src/components/atoms/forms/CompoundSlider/style.scss
  react/src/components/organisms/HelpTip/HelpTip.stories.js
  react/src/components/organisms/HelpTip/index.js
Labels: external review, internal review

#497 React/DP-10868: A11y TabContainer support.
  assets/scss/00-base/_colors.scss
  assets/scss/03-organisms/_tab-container.scss
  changelogs/DP-10868.txt
  react/backstop/data/bitmaps_reference/vrt_organisms_TabContainer_TabContainer_0_document_0_phone.png
  react/backstop/data/bitmaps_reference/vrt_organisms_TabContainer_TabContainer_0_document_1_tablet.png
  react/src/components/organisms/TabContainer/index.js
  react/src/components/organisms/TabContainer/tab.js
Labels: React, Ready For Internal Review

#503 React/DP-12921: Prevents min/max from being past on InputNumber and InputCurrency.
  .DS_Store
  changelogs/DP-12921.md
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_Form_0_document_0_small_atom.png
  react/backstop/data/bitmaps_reference/vrt_atoms_forms_InputNumber_0_document_0_small_atom.png
  react/package-lock.json
  react/package.json
  react/src/components/atoms/forms/Input/validate.js
  react/src/components/atoms/forms/InputCurrency/InputCurrency.knobs.options.js
  react/src/components/atoms/forms/InputCurrency/index.js
  react/src/components/atoms/forms/InputNumber/InputNumber.knobs.options.js
  react/src/components/atoms/forms/InputNumber/InputNumber.stories.js
  react/src/components/atoms/forms/InputNumber/index.js
Labels: React, Ready For Internal Review

#520 Add an issue template
  .github/ISSUE_TEMPLATE/add-a-mayflower-project.md
  docs/README.md
Labels: doc, external review
